* {
    margin: 0;
    padding: 0; }
  
  a {
    text-decoration: none; }
/*  estilo para el menu de navegaci贸n */
.menu {
    list-style-type: none;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 16px;
    color: beige;
    margin: 16px; }
  
.menu__item__link {
    text-decoration: none;
    color: beige;
    font-family: 'Bebas Neue', sans-serif; }
  
a:hover {
    color: #ff7fe3; }
  
/*  fin estilo de menu de navegaci贸n  */
body {
    background-color: #1f1f1f; }
  
main {
    min-height: 800px; }
  
header {
    background-color: black; }
  
footer {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  
.footer__icons {
    width: 25px; }
  
.logo {
    width: 200px; }
h4{
    font-family: Allison, cursive;
    color: beige;
    text-align: center;
    font-size: xx-large;
}
section {
    color: beige;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
p {
    font-family: Helvetica, sans-serif;
    /*font-size: 14px;*/
    color: beige;
    margin: 16px 5px 16px 5px;
    padding: 0 2px; }
.boton {
    font-family: Helvetica, sans-serif;
    border-color: #7157ce;
    border-width: medium;
    background-color: #7157ce;
    color: beige;
    border-radius: 10px; }
      
.boton:hover {
    background-color: #ff7fe3;
    border-color: #ff77e2; }


/*encabezado*/
.encabezado {
    background-image: url("../images/ondatitulo.png");
    background-size: 100% 25vh;
    margin-bottom: 1%;
    height: 25vh;
    animation-name: zoomIn;
    animation-duration: 1.5s;
    animation-iteration-count: 1; }
  
.encabezado__titulo {
    position: relative;
    top: 4vh; }
  
h1 {
    font-family: "Yellowtail", cursive;
    font-size: 10vh;
    color: beige;
    text-align: center;
    text-shadow: 1px 1px 2px #7157ce; }
  
#portadatitulo {
    size: 50vh; }
/*fin encabezado*/
/*organizaci贸n cuerpo*/
.calculadora{  
    position: relative;
    display: inline-block;
    border-color: white;
    border: 1px;
    background-color: black;
    box-shadow: 0 0.125rem 0.25rem rgba(223, 220, 220, 0.521);
}
#grilla{
    display: grid;
    grid-template-areas: "izquierda derecha";
    grid-template-columns: 60% 40%;
    grid-template-rows: auto; 
    color: beige;
    justify-items: center;              
}
.contenedorForm{
    grid-area: izquierda;
}
.listaPrecios{
    grid-area: derecha;
}
/*fin organizaci贸n cuerpo*/
@media only screen and (max-width: 482px) {
    #grilla{
        grid-template-areas: "izquierda"
        "derecha";
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        width: 100%;
    }
}